---
name: Release
on:
  workflow_run:
    types:
      - completed
    workflows:
      - "ci"
    branches:
      - release/*
jobs:
  print-debug-info:
    name: Print debug info for Release workflow
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v2
  
  get-tag:
    name: Get tag
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    outputs:
      tag: ${{ steps.get-tag-step.outputs.tag }}
    steps:
      - name: Get tag
        run: |
          branch=${{github.event.workflow_run.head_branch}}
          echo '::set-output name=tag::'${branch#release/}
        id: get-tag-step

  create-release:
    name: Create release
    uses: networkservicemesh/.github/.github/workflows/release.yaml@main
    secrets:
      token: ${{ secrets.NSM_BOT_GITHUB_TOKEN }}

  release-dependent-repositories:
    name: Release dependent repositories
    needs: [get-tag, create-release]
    uses: networkservicemesh/.github/.github/workflows/release-dependent-repositories.yaml@main
    with:
      tag: ${{ needs.get-tag.outputs.tag }}
      dependent_repositories: |
        ["integration-k8s-packet",
          "integration-k8s-gke",
          "integration-k8s-aks",
          "integration-k8s-aws",
          "integration-k8s-kind",
          "integration-interdomain-k8s"]
    secrets:
      token: ${{ secrets.NSM_BOT_GITHUB_TOKEN }}
